Source: ros-hydro-cob-script-server
Section: misc
Priority: extra
Maintainer: Florian Weisshardt <fmw@ipa.fhg.de>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-actionlib, ros-hydro-actionlib-msgs, ros-hydro-catkin, ros-hydro-cob-sound, ros-hydro-cob-srvs, ros-hydro-control-msgs, ros-hydro-geometry-msgs, ros-hydro-message-generation, ros-hydro-rospy, ros-hydro-std-msgs, ros-hydro-tf, ros-hydro-trajectory-msgs
Homepage: http://ros.org/wiki/cob_script_server
Standards-Version: 3.9.2

Package: ros-hydro-cob-script-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-actionlib, ros-hydro-actionlib-msgs, ros-hydro-cob-sound, ros-hydro-cob-srvs, ros-hydro-control-msgs, ros-hydro-geometry-msgs, ros-hydro-message-runtime, ros-hydro-move-base-msgs, ros-hydro-rospy, ros-hydro-std-msgs, ros-hydro-tf, ros-hydro-trajectory-msgs
Description: The cob_script_server package provides a simple interface to operate Care-O-bot. It can be used via the python API or the actionlib interface.
